.section-title {
    font-size: 30px;
    font-weight: 700;
}

.section-subtitle {
    padding: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}


#safran::before {
    content: "";
    background-image: url(../static/imagens/safran.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.12;
  }


#mrpizza::before {
    content: "";
    background-image: url(../static/imagens/pizzaiolo.webp);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.12;
    border-radius: 8px;
  }

#cunzolo::before {
    content: "";
    background-image: url(../static/imagens/guindaste.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.12;
    border-radius: 8px;
  }

#decathlon::before {
    content: "";
    background-image: url(../static/imagens/decathlon.webp);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.12;
    border-radius: 8px;
  }